html, body, form { margin: 0; padding: 0; height: 100%; }

div#wrapper td.page-column-center {

}
#ctl00_rightColumn table {margin-left: 12px; }
#ctl00_rightColumn table td table {margin-left: 0 !important;
}
#ctl00_rightColumn table td {width: 172px;}

/* headings */
h1 { margin-top: 0; }
h1.specials { margin: 0; }
h3, h5 { margin: 0 0 5px 0;}

.text-required { margin: 0 3px; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.clear { clear: both; }

/* general element style */
img { border: 0; }
label { font-weight: inherit; }
p { margin: 8px 0; }

/* alignment */
.left { text-align: left; }
.center { text-align: center; margin: 0 auto; }
.right { text-align: right; }

/* module text */

/* validation summary */
.val-summary { margin: 10px 0; padding:10px 0 0 10px; border: 1px solid #cccccc; background-color: #efefef; }

/* notification */
.notification { margin: 15px 0; }

/* container elements */
div#wrapper { border-collapse:collapse; }
  
table.page-container { width:100%; border-collapse: collapse; margin: 0; }
  table.page-container td { vertical-align: top; }
    table.page-body-columns	{ width:100%; height: 100%; }
      td.page-column-left, td.page-column-right {  }
	  div.breadcrumb { margin: 0px 0 12px 0; }
	td.page-footer-content {  text-align: center; }
	td.page-copyright-content { vertical-align: middle; text-align: center; }
	  td.page-copyright-content a, td.page-copyright-content a:hover { font-weight:bold; color: purple; text-decoration:underline; }

/* content area styling */
  td.content-head, td.content-nav, td.content-body { text-align:left; }
    td.content-head h1, td.content-head h3 { margin: 0; }	
	td.content-head-control { text-align:right; vertical-align:middle; }	
  td.content-nav h5 { margin:0 }
  
/* module styling */
.module { width: 100%; margin-bottom: 15px; }
  table.cart-module-shipping { margin-top: 4px }

table.mini { }
	table.mini td { font-size: 10px; font-weight: normal; vertical-align: top; }
	table.mini th { font-size: 11px; font-weight: bold; }
	
table.cart { width:100%; border:0;}
  td.cart-header-img { text-align:right; vertical-align:middle; }
  tr.cart-header th { font-weight: bold; text-align: left; border-bottom: 1px solid #ccc; }
  tr.cart-item td { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; vertical-align:top; }
    div.cart-prod-name { margin: 0 0 10px; }  
    span.cart-part-number { font-weight: bold; color: #c0c0c0; }  
      td.cart-item-image { width:10px }
    td.cart-item-price, td.cart-item-total { width:10px; white-space: nowrap; text-align:right; padding-right: 10px }
    td.cart-item-options, td.cart-item-quantity { width:60px }
    div.cart-item-name { margin: 0 0 10px; }
  tr.cart-footer td { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
    td.cart-subtotal-label, td.cart-discounts-label, td.cart-shipping-label, td.cart-total-label { font-weight: bold; text-align:right; padding-right: 3px; }
    td.cart-subtotal, td.cart-discounts, td.cart-shipping, td.cart-total { font-weight: bold; text-align:right }
  
  table.cart-redirect { margin-top: 15px; }
    td.cart-continue { text-align:left; }
    td.cart-checkout { text-align: right; }

table.checkout-cart { width:100%; border:0;}
  tr.checkout-cart-header th { font-weight: bold; text-align: left; border-bottom: 1px solid #ccc; }
  tr.checkout-cart-item td { padding: 10px 0; border-bottom: 1px solid #ccc; vertical-align:top; }
    div.checkout-cart-prod-name { margin: 0 0 10px; }  
    span.checkout-cart-part-number { font-weight: bold; color: #c0c0c0; }  
  tr.checkout-cart-footer td { border-top: 1px solid #ccc; padding: 10px 0; }
    td.cart-subtotal-label, td.cart-discounts-label, td.cart-shipping-label, td.cart-total-label { font-weight: bold; text-align:right; padding-right: 3px; }
    td.cart-subtotal, td.cart-discounts, td.cart-shipping, td.cart-total { font-weight: bold; } 

table.form-item { border: none; margin-top: 10px; }
  table.form-item-first { margin-top: 0; }
  td.label { width: 150px; text-align: right; font-weight: bold; } 
  span.form-option label { font-weight: normal; }
  
/* category listing */
table.category-list td { text-align:center;  width: 350px;  } 
  div.category-list-item { margin: 0 10px 10px 0; }
    div.category-list-item-head { padding: 4px; }
      div.category-list-item-head h5 { margin: 0; }
    div.category-list-item-body { padding: 5px; text-align: center; }
      div.category-list-item-body img { display:block; margin: 0 auto 5px auto; }
    	  
/* product listing */
table.product-list { margin: 5px 0; }
  td.product-list-item-container, td.product-list-item-container-alt { padding:4px; }
  
div.product-list-item { text-align:center; margin:5px; }
  div.product-list-info { width: 100px; padding-right: 10px; }
    img.product-list-img { margin-bottom: 10px; }
    div.product-list-text { font-weight: normal; margin-top: 10px; }
	div.product-list-promo { margin-top:10px; }
	  div.product-list-promo img { margin: 1px; }
	  
  div.product-list-options {}
    div.product-list-price { margin-bottom: 10px; }
    div.product-list-qty label, span.product-list-msrp-label, span.product-list-cost-label, span.product-list-sale-label, span.product-list-save-label { font-weight: bold; }
    div.product-list-qty { margin: 8px 0; }
	
table.product-list-results-header { margin-bottom:5px; }
  td.product-list-results { font-weight:bold; }
  td.product-list-size { width:100px; text-align:right; white-space:nowrap }
  td.product-list-sort { width:100px; text-align:right; white-space:nowrap }
  
table.product-pager {}
  td.product-pager-page { font-weight: bold; }
  td.product-pager-list { text-align:right; white-space:nowrap; }
    td.product-pager-list span, td.product-pager-list a { font-weight: bold; margin: 0 3px; }
    a.pager-item-first { margin-right: 6px; }
        span.pager-item-current { text-decoration:underline;}
        span.pager-item-separator { letter-spacing: 2px; }    
		
 /* product detail */
 table.prod-detail {}
 
   /* layout */
   td.prod-detail-tp { padding-bottom: 10px; }
   td.prod-detail-lt { width:50%; padding-right:10px; }
   td.prod-detail-rt { width:50%; padding-left: 10px; }
   td.prod-detail-bt { padding-top: 20px; } 
   
   /* information */
   div.prod-detail-price { margin-bottom: 10px; }
   span.prod-detail-msrp-label, span.prod-detail-cost-label, span.prod-detail-sale-label, span.prod-detail-save-label { font-weight: bold; }
   span.prod-detail-part-label { font-weight: bold; }
   
   div.prod-detail-shopping-list, div.prod-detail-email-friend, div.prod-detail-promo { margin-top: 10px }  div.prod-detail-man { margin-top: 10px; }
     span.prod-detail-man-name-label, span.prod-detail-man-part-label { font-weight: bold; }
     input.prod-detail-add { position: relative; top: 9px; left: 3px; }
 
   table.prod-detail-qty-disc th, table.prod-detail-qty-disc td { padding: 3px; border: 1px solid #ccc }  div.personalization{}
     div.personalization-question { margin-bottom: 15px }
 	  span.personalization-question-label { font-weight:bold }
       
      div.personalization-answers {  margin: 5px 0 0 15px  }
        div.personalization-answer {  margin-bottom: 5px  }
        pan.personalization-answer-label { margin: 3px }
 
/* product image gallery */
div.gallery { position: relative; width: 220px; min-height: 300px; height:300px; margin-top: 15px; }
  
  a.gallery-thumb { float: left; }
  a.gallery-thumb img { border: none; margin: 0 5px 5px 0; }
  a.gallery-thumb:hover { background-color: transparent; }
  a.gallery-thumb:hover img { border: none; }

  a.gallery-thumb span { position: absolute; background-color: #efefef; font-weight:bold; padding: 5px; left: -1000px; border: 1px dashed gray; visibility: hidden; color: black; text-decoration: none; }
  a.gallery-thumb span img{ border-width: 0; padding: 2px; }
    
  a.gallery-thumb:hover span { visibility: visible; top: 0; left: 230px; z-index: 50; }

/* account */
div.account-item { margin-bottom: 20px; }
div.account-item-last { margin-bottom: 0; }
    
/* order history */
.grid { width: 100%; }
  .grid-header th { font-weight: bold; border-bottom: 1px solid #666; text-align:left; }
  .grid-row td { background-color: #fff; }
  .grid-row-alt td { background-color: #efefef; }  
  .grid-footer td { width:100%; font-weight: bold; text-align: right; }
    .grid-footer td table { border-top: 1px solid #666;  }  

/* checkout */
table.checkout-shipping th { padding: 2px 0; border-bottom: 1px solid #ccc; }
table.checkout-shipping td { padding: 2px 0; }

tr.checkout-review-tax { padding-bottom: 3px; }
td.checkout-review-underline { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding:1px;}
tr.checkout-review-total th, tr.checkout-review-total td { padding-top: 3px; }

table.checkout-payment td.label label { text-align: right; font-weight: bold; }

/* order summary */
table.invoice { background-color: #fff; }

  h1.invoice-title { font-size: 24px; font-weight: bold; color: #333; margin:0; }
  h3.invoice-subtitle { font-size: 14px; font-weight: bold; color: #333; margin:0; padding:0; }

  table.invoice-order-info { border: none; width: 100%; }
	table.invoice-order-info td.label { width:125px; text-align:right; padding-right: 3px; font-weight:bold; }

  table.invoice-customer-info { border: none; width: 100%; }
	table.invoice-customer-info td.label { width:125px; text-align:right; padding-right: 3px; font-weight:bold; }
	
  div.invoice-separator { border-bottom: 1px solid #ccc; margin:5px 0; }
  div.invoice-address { margin-left: 15px; margin-top: 5px; }

  table.invoice-detail { width: 100%; border-bottom: 2px solid #ccc; }
	tr.invoice-detail-header th { font-weight: bold; border-bottom:1px solid #666; background-color: #cdcdcd; text-align:left; }
	tr.invoice-detail-row td, tr.invoice-detail-row-alt td { background-color: #fff; }

  table.invoice-summary { margin-top: 5px; width: 100%; }
	td.invoice-summary-text { text-align: right; }
	td.invoice-summary-item { width: 70px; text-align: right; padding-right: 4px; }
	td.invoice-summary-separator { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 1px 0; }

/* form elements */
input.textbox { font: 12px Arial, "sans serif"; voice-family: "\"}\""; voice-family:inherit; padding-left: 3px; }
* html input.textbox { margin-bottom: 2px; }

input.textbox-center { font: 12px Arial, "sans serif"; text-align:center; width: 40px; }
* html input.textbox-center { margin-bottom: 2px; }

.textarea-small,.textarea-med,.textarea-large,.textarea-exlarge { font: 12px Courier New, Times New Roman, serif; padding: 3px; margin: 0; }
.textarea-small { height: 50px; width: 200px; }
.textarea-med {	height: 100px; width: 350px; }
.textarea-large { height: 150px; width: 400px; }
.textarea-exlarge {	height: 250px; width: 500px; }

* html .textarea {margin: -1px; }

.select { font: 12px Arial, "sans serif"; padding: 1px 0; }
.button { height: 18px; padding: 0 7px; line-height: 18px; background-color: #ccc; font: bold 12px Arial, "sans serif";	}

.page-column-left ul,
.page-column-left li,
.page-column-right ul,
.page-column-right li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.page-column-left li {
	line-height: 12px;
}

.page-column-left ul,
.page-column-right ul{
	padding-left: 10px;
}

.page-column-center {
	padding: 0 3px;
}

#searchBox .textbox,
#mailingList .textbox {
	width: 98px;
	height: 12px;
}

#searchBox {
	padding-top: 38px;
	position: relative;
	width: 137px;
}

#searchBox .custom-search {
	display: block;
	width: 111px;
	margin: 0 auto;
}

#searchBox .custom-search-button input {
	position: absolute;
	top: 58px;
	left: 82px;
}

#mailingList label {
	display: none;
}

#mailingList {
	padding-top: 30px;
	text-align: center;
}

#mailingList #ctl00_ctl04_ctl01_mailingList_imbSubmit {
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 2px !important;
}

h1.specials {
	font-size: 13.33px;
	font-family: Verdana, Geneva, sans-serif;
	color: #52433E;
	background: #CDC1A7;
	display: block;
	padding-left: 3px;
	text-decoration: none;
}
div#wrapper td.page-column-right {
  padding: 15px 0 0 0;
  width:178px;
  font-weight: normal !important;
}